apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: simple-nodejs-app
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: simple-nodejs-app
    app.kubernetes.io/part-of: nodejs-users
  name: simple-nodejs-app
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: simple-nodejs-app
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: simple-nodejs-app
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/e2e-demos-gxiy-tenant/nodejs-users/simple-nodejs-app@sha256:66d67651e635c54619674f873f2b7ce43151d030c37a34f60ca6b034f49ed0b4
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
